Azure Data Factory/pipeline/DEMO_PIPELINE.json
{
	"name": "DEMO_PIPELINE",
	"properties": {
		"activities": [
			{
				"name": "Read sys tables",
				"description": "",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select distinct table_schema,table_name from information_schema.columns;",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference",
						"parameters": {
							"schemascr": {
								"value": "@pipeline().parameters.check",
								"type": "Expression"
							},
							"schematgt": {
								"value": "@pipeline().parameters.check2",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "copy all tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read sys tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read sys tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy_table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"allowCopyCommand": true,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference",
									"parameters": {
										"schemascr": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"schematgt": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsTable1",
									"type": "DatasetReference",
									"parameters": {
										"tgt_schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"tgt_table": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"check": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"check2": {
				"type": "string",
				"defaultValue": "MyTable"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-06T06:18:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}