Azure Data Factory/pipeline/PL_METADATA.json
{
	"name": "PL_METADATA",
	"properties": {
		"activities": [
			{
				"name": "lkp_config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@CONCAT\n('select COUNT(RunningStatus) AS CNT,RunningStatus  FROM config.Pipelines_Config where sourcecode=','''',pipeline().parameters.sourcecode,'''',\n'and \nActiveFlag=',\n'''',\nstring(pipeline().parameters.FLAG),\n'''','\nGROUP BY RunningStatus\nhaving COUNT(RunningStatus) >',0)\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsazuresql",
						"type": "DatasetReference",
						"parameters": {
							"TABLE": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"SCHEMA": {
								"value": "@pipeline().parameters.SCHEMA",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_config').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n    or(\n       contains(item().RunningStatus,'RUNNING'),\ncontains(item().RunningStatus,'FAILED')),\ncontains(item().RunningStatus,null))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "execute load fl or dl",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "another batch in progress or reun",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourcecode": {
				"type": "string",
				"defaultValue": "DSA"
			},
			"SCHEMA": {
				"type": "string",
				"defaultValue": "config"
			},
			"table": {
				"type": "string",
				"defaultValue": "Pipelines_Config"
			},
			"FLAG": {
				"type": "string",
				"defaultValue": "Y"
			}
		},
		"variables": {
			"status": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}