Azure Data Factory/pipeline/RUN_SUB.json
{
	"name": "RUN_SUB",
	"properties": {
		"activities": [
			{
				"name": "LKP_CONFIG_TABLE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored procedure4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select *  FROM config.Pipelines_Config where sourcecode=','''',\npipeline().parameters.SOURCE_CODE,'''',\n'and ActiveFlag=',\n'''',\npipeline().parameters.FLAG,\n'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsazuresql",
						"type": "DatasetReference",
						"parameters": {
							"TABLE": {
								"value": "@pipeline().parameters.TABLESRC",
								"type": "Expression"
							},
							"SCHEMA": {
								"value": "@pipeline().parameters.SCHEMASRC",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_CONFIG_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_CONFIG_TABLE').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "cpy_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference",
									"parameters": {
										"schemascr": {
											"value": "@item().SourceSchemaName",
											"type": "Expression"
										},
										"tablesrc": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsazuresql",
									"type": "DatasetReference",
									"parameters": {
										"TABLE": {
											"value": "@item().TargetTableName",
											"type": "Expression"
										},
										"SCHEMA": {
											"value": "@item().TargetSchemaName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "success_conf_update",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "cpy_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[config].[successstatus]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "failed_cong_update",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "cpy_data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[config].[failstatus]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Stored procedure4",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[config].[resetstatus]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"SCHEMASRC": {
				"type": "string",
				"defaultValue": "config"
			},
			"TABLESRC": {
				"type": "string",
				"defaultValue": "Pipelines_Config"
			},
			"SOURCE_CODE": {
				"type": "string",
				"defaultValue": "DSA"
			},
			"FLAG": {
				"type": "string",
				"defaultValue": "Y"
			}
		},
		"annotations": []
	}
}